<div class="announcement">
  <div class="container">
    <p>
      📣 I'm now <b>open for freelance engineering work</b> in 2019!<br />
      I can help you w/ eng leadership coaching, eng recruiting, UI dev,
      and full-stack work (specialize in React, CSS, and Ruby stacks.)
    </p>
    <a href="mailto:pvm@enchant.co">
      Email me about your project &rarr;
    </a>
  </div>
</div>
