<div class="announcement">
  <div class="container">
    <p>
      I'm now <b>open for freelance engineering work</b> in 2019.
      <br />Prototyping, UI development, and full-stack work (React, CSS, and Ruby.)
    </p>
    <a href="mailto:pvm@enchant.co">
      Email me about your project &rarr;
    </a>
  </div>
</div>
