<aside class="CollabBar {{#if fixed }}--fixed{{/if}}">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12">
        <p class="CollabBar__text">
          Interested in collaborating? <a href="https://letsenchant.typeform.com/to/Ch3lbXvY" target="_blank">Get started here.</a>
        </p>
      </div>
    </div>
  </div>
</aside>
