<nav class="Nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 start-xs col-sm-6">
        <div class="Nav__intro">
          <a href="/" class="Logo"></a>
        </div>
      </div>
      <div class="col-xs-10 end-xs col-sm-6" style="display: flex;">
        <a class="Nav__item" href="/">Writing</a>
        <a class="Nav__item" href="/work">Portfolio</a>
        <a class="Nav__item" target="_blank" href="https://www.twitter.com/pvm">Twitter</a>
        <a class="Nav__item" target="_blank" href="https://www.linkedin.com/in/pmederos">LinkedIn</a>
      </div>
    </div>
  </div>
</nav>
