{{!< default}}
<div class="Page Work {{post_class}}">
  <div class="container-fluid">
    <header class="Work__header animated fadeIn">
      <div class="row center-xs text-left">
        <div class="col-xs-12">
          <h2 class="Work__title">
            Paul is a <b>purpose-driven design leader</b> with experience building meaningful products + teams.
          </h2>
        </div>
      </div>
    </header>

    <section class="Work__content animated delayed-short fadeInUp">
      {{> "work_item"
        graphic_class="fitt-redesign"
        year="2020"
        role="Product Lead"
        company="Fitt Insider"
        title="Designing Fitt Insider for purpose of clarity."
        snippet="What started as a side project inside another business quickly outgrew the parent brand. Could we shift the brand—and it's collection of media properties—so it could stand on it's own?"
        study_url="/redesigning-fitt-insider"
      }}

      {{> "work_item"
        graphic_class="apothekary-quiz"
        year="2020"
        role="Product Lead"
        company="Apothékary"
        title="Building a personalized farmacy of the future"
        snippet="Could we help customers understand more about themselves + our product, so they'd be more likely to convert? Could we streamline the funnel to help scale eCom operations?"
        study_url="/apothekary-quiz"
      }}

      {{> "work_item"
        graphic_class="territory-brand"
        year="2017"
        role="Head of Product Design"
        company="Territory Foods"
        title="Launching the Territory brand to accelerate growth."
        snippet="Could we re-position our brand closer to our north star of personalized nutrition to reach more customers in a deeper, more valuable way?"
        study_url="/territory-brand-launch"
      }}

      {{> "work_item"
        year="2015"
        role="Product Design Lead"
        company="Territory Foods"
        title="Scaling Power Supply to new markets across the country."
        graphic_class="ps-markets"
        snippet="Would the business model and product experience we developed in one market work in other markets across the country?"
        study_url="/power-supply-national-expansion"
      }}

      {{> "work_item"
        year="2014"
        role="Sr. Product Designer"
        company="Territory Foods"
        title="Designing the first step towards personalized nutrition."
        graphic_class="ps-menu"
        snippet="If we gave folks more control over their meals, would we keep them around longer? Or would decision fatigue prove too frustrating?"
        study_url="/power-supply-menu"
        cta_text="Read the mini study ->"
      }}
    </section>
  </div>
</div>

{{> "collab_bar" }}
