{{!< default}}
<div class="Page Portfolio {{post_class}}">
  <div class="container-fluid">
    <header class="Portfolio__header">
      <div class="row center-xs text-left">
        <div class="col-xs-12">
          <h2 class="Portfolio__title">
            Paul is a <b>purpose-driven design leader</b> with experience building meaningful products + teams.
          </h2>
        </div>
      </div>
    </header>

    <section class="Portfolio__content">
      {{> "portfolio_item"
        graphic_class="territory-brand"
        year="2017"
        role="Head of Product Design"
        company="Territory Foods"
        title="Launching the Territory brand for sustained growth."
        snippet="Could we re-position our brand closer to our north star of personalized nutrition to reach more customers in a deeper, more valuable way?"
        study_url="/territory-brand-launch"
      }}

      {{> "portfolio_item"
        year="2015"
        role="Product Design Lead"
        company="Territory Foods"
        title="Scaling Power Supply to new markets across the country."
        graphic_class="ps-markets"
        snippet="Would the business model and product experience we developed in one market work in other markets across the country?"
        study_url="/power-supply-national-expansion"
      }}

      {{> "portfolio_item"
        year="2014"
        role="Sr. Product Designer"
        company="Territory Foods"
        title="Designing the first step towards personalized nutrition."
        graphic_class="ps-menu"
        snippet="If we gave folks more control over their meals, would we keep them around longer? Or would decision fatigue prove too frustrating?"
        study_url="/power-supply-national-expansion"
      }}
    </section>
  </div>
</div>
