.Portfolio {
  min-height: 100vh;
  padding-bottom: 9.6rem;
  background-color: white;
}

.Portfolio__header {
  padding-top: 16rem;
  margin-bottom: 16rem;

  @include media-sm-up {
    padding-top: 19.2rem;
    margin-bottom: 19.2rem;
  }
}

.Portfolio__title {
  font-weight: 350;
  font-size: 4.2rem;

  color: #1D2022;

  @include media-sm-up {
    font-size: 6.4rem;
  }

  b { font-weight: 600; }
}

 .PortfolioItem {
   margin-bottom: 24rem;
 }

 .PortfolioItem__graphic {
   display: block;
   height: 240px;
   background-color: #eaeaea;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   @include media-sm-up {
     height: 420px;
     margin-right: 2.1rem;
     border-radius: 8px;
   }

   &.territory-brand { background-image: url('/assets/images/territory-brand@2x.png'); }
   &.ps-markets      { background-image: url('/assets/images/ps-markets@2x.png'); }
   &.ps-menu         { background-image: url('/assets/images/ps-menu@2x.png'); }
 }

 .PortfolioItem__content {
   padding: 1em 0;

   @include media-sm-up {
     padding: 0 1em;
   }
 }

 .PortfolioItem__context {
   font-size: 1.3rem;
   font-weight: 600;
   letter-spacing: .05em;
   text-transform: uppercase;
   color: #888888;
 }

 .PortfolioItem__title {
   color: #1D2022;
   font-size: 3.6rem;
   font-weight: 600;
   line-height: 1.24;
   text-transform: normal;
   margin-bottom: 1em;
 }

.PortfolioItem__snippet {
  color: #333333;
  padding-right: 2.1rem;
}
