.Post {
  padding-top: 12.8rem;

  &.CaseStudy { padding-top: 0 }
}

.Post__header {}

.Post__title {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.Post__content {
  font-size: 1.8rem;
  padding-bottom:4em;
  margin-bottom:4em;
}

.Post__footer {
  position: relative;
  padding-bottom: 6em;
}
